{% extends '@Alone/Base_layout.html.twig' %}

{% block title %}
Friends
{% endblock %}

{% block content %}

    <div class="row">
        <h1 class="text-center alheader">
                Friends
        </h1>
    </div>

    <div class="row text-center">
        <h2 class="albig">
            Thomas on Youtube:
        </h2>

        <ul class="altext allink">
            <li>
                <a
                    href="https://www.youtube.com/channel/UCjyJ3lLvEVdJeTLE5p0WIbQ" target="_blank">ThomaGeddon <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
