


{#<button style="float: left; margin-left: 25%" class="btn btn-alone" onclick="window.history.back()">Back</button>#}
{#<button style="float: left; margin-right: 25%" class="btn btn-alone" onclick="window.history.forward()">Forward</button>#}

<script type="text/javascript">
    console.log("Test");
</script>