


<button id="sitebar_back_button" class="btn btn-alone" onclick="window.history.back()">Back</button>
<button style="left: 40%" id="sitebar_back_button" class="btn btn-alone" onclick="window.history.forward()">Forward</button>

<script type="text/javascript">
    console.log("Test");
</script>