{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
User hinzufügen
{% endblock %}

{% block content %}

    <div class="row">
        <h1 class="text-center">
            <u class="altext alheader">
                Benutzer hinzufügen
            </u>
        </h1>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}