{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
 About us
{% endblock %}

{% block background %}
    class="defaultBackground"
{% endblock %}

{% block content %}
    <div class="row text-center">
        <h1 class="col-lg-12 col-sm-10 col-xs-10">
            <u class="altext alheader">
                About us
            </u>
        </h1>
    </div>
<div class="container">

    <div class="col-sm-10">
        <div class="col-lg-offset-3 altext">
            We are a small german indie game developer group called "AloneDevs" (or AloneDevelopers if you want)
            We are three people:
        </div>
    </div>

        <div class="col-lg-offset-3 altext">

        <p></p>

            <div class="col-sm-3 col-lg-12 row">
        <h1><b style="font-size: 150%">Thomas:</b></h1>

        <p></p>
            </div>
            <div class="col-sm-3 col-lg-12 row">
        <h1><b style="font-size: 150%">Moax:</b></h1>


            <p>Hey I am Moax.</p>
            <p>I am the musician of this Team.</p>
            <p>You can hear my first theme in the Game Teaser.</p>
            <p>I am not a professional musician this is more a hobby.</p>
        <p></p>
            </div>
                <div class="col-sm-3 col-lg-12 row">
        <h1><b style="font-size: 150%">_dev:</b></h1>

            Basically I do all the other things.<p></p> The models, the textures and materials, the (game) world, the AI
            and all the other beautiful things that you can imagine.
            <p></p>I also write this website.
        </div>
        </div>
</div>

{% endblock %}