{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
GoHome - Dev Blog
{% endblock %}

{% block header %}
    DevBlog
{% endblock %}

{% block smallHeader %}
    <br>
    Blog about GoHome
{% endblock %}

{% block content %}
<div class="col-lg-offset-3">

    {% set i = blogs|length - 1 %}

    <ul>
    {% for blog in blogs %}
        <div class="text-box">
            <a id="blog_{{ i }}" style="display: none; font-size: 250%" class="bloglink" href="{{ path('GoHome_show_devBlog', {'id': blogs[i].id}) }}">{{ blogs[i].title | raw }}</a>
            <p></p>
            {% set i = i - 1 %}
        </div>
    {% endfor %}
    </ul>
</div>

    <div style="display: inline-block; margin-left: 40%;">
        <button style="display: none" id="next_button" class="btn btn-alone" onclick="nextSite()">
            <span class="glyphicon glyphicon-arrow-left"> Forward</span>
        </button>

        <button style="display: none" id="prev_button" class="btn btn-alone" onclick="previous()">
            Previous <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>

    <script>
        var entrys = [];

        for (var i = 0; i < {{ blogs | length }};i++){
            entrys.push(document.getElementById("blog_"+i));
        }

        var prev = document.getElementById("prev_button");
        var next = document.getElementById("next_button");

        var start = 1;
        var end   = 5;

        function showButtons() {
            if(start >= 6){
                next.style.display = "inline-block";
            } else {
                next.style.display = "none";
            }

            if(end <= entrys.length){
                prev.style.display = "inline-block";
            } else {
                prev.style.display = "none";
            }
        }

        function previous() {
            start = start + 5;
            end = end + 5;
            fillSitesWithEntrys();
        }

        function nextSite() {
            start = start - 5;
            end = end - 5;
            fillSitesWithEntrys();
        }


        function fillSitesWithEntrys() {

            for (var c = 0; c < entrys.length; c++) {
                entrys[c].style.display = "none";
            }

            for (var i = entrys.length - start; i >= entrys.length - end; i--) {
                if (entrys[i] != null) {
                    entrys[i].style.display = "inline";
                    entrys[i].style.color = "#b7b7b7";
                }
            }
            showButtons();
        }

        fillSitesWithEntrys();



    </script>

{% endblock %}
