{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
GoHome - Dev Blog
{% endblock %}

{% block header %}
    DevBlog
{% endblock %}

{% block smallHeader %}
    <br>
    Blog about GoHome
{% endblock %}

{% block content %}

    <div id="devblogs_div">
    </div>

    {% set page = 0 %}

    <div style="display: inline-block; margin-left: 40%;">
        <button style="display: none" id="next_button" class="btn btn-alone" onclick="getBlogs(1, 5)">
            <span class="glyphicon glyphicon-arrow-left"> Forward</span>
        </button>

        <button style="display: none" id="prev_button" class="btn btn-alone" onclick="getBlogs(0, 5)">
            Previous <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>

    <script>

        var blogs = [];

        function getBlogs(page, count) {
            $.ajax({
                type: 'GET',
                {#url: "{{ path('GoHome_pagedBlogs', {'page': 0, 'count': 5}) }}",#}
                url: Routing.generate('GoHome_pagedBlogs', {'page': page, 'count': count}),
                success: function(response){
                    blogs = JSON.parse(response);
                    reloadblogs();
                }
            });
        }

        function reloadblogs() {
            blogs.reverse();
            blogs.forEach(function (item, index) {
                console.log(item);
                $("#devblogs_div").append("<div class=\"text-box\">" +
                        "<a class='altext' style='font-size: 250%' href='dev_blog/"+item.id+"'>"+item.title+"</a>" +
                        "" +
                        "</div>");
            })
        }

        getBlogs(0,5);

    </script>

{% endblock %}
