{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
GoHome - About
{% endblock %}

{% block background %}
    class="defaultBackground"
{% endblock %}


{% block content %}

        <h1 class="text-center">
            <u class="altext alheader">
                About GoHome
            </u>
        </h1>

        <div class="text-center altext" style="margin-left: 2%">
            You will always remember the happy moments in life.
            <br>
            But what, when they turn in your worst nightmares?
            <br>
            Exactly this happens to the 10 years old Thomas at his birthday.
            <br>
            His birthday becomes the worst day of his life.
            <br>
            After 15 Years full of therapies and depressions
            <br>
            he manages to break out of this and lives his life as he wants.
            <br>
            He gets a job.
            <br>
            After a short time, he notices that he is in serious danger on the way home.
            <br>
            His past overtakes him...
            <br>
        </div>
{% endblock %}