{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
GoHome
{% endblock %}

{% block content %}

    <div class="row" style="clear: both">

        <h1 class="alheader">
                GoHome
        </h1>

        <h1 class="alheader-Right">
            Data
        </h1>

    </div>

        <div class="text-left row" style="padding-left: 4vmax">
            <a href="{{ path('GoHome_devBlog') }}" class="btn btn-innerMenu">Dev Blog</a>

            <a href="{{ path('GoHome_About') }}" class="btn btn-innerMenu">About</a>

            <a href="{{ path('GoHome_Media') }}" class="btn btn-innerMenu">Media</a>
        <div>

        <div class="text-right row" style="padding-right: 4vmax">
            Bla
        <div>

{% endblock %}