{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
    Concept
{% endblock %}

{% block header %}
    Concept
{% endblock %}

{% block smallHeader %}
    <div style="padding-top: 2%">
        The base concept of GoHome
    </div>
{% endblock %}

{% block content %}

{% endblock %}