{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
GoHome
{% endblock %}

{% block header %}
    GoHome
{% endblock %}

{% block smallHeader %}
    our horror game
{% endblock %}

{% block content %}

    <div style="padding: 5%">
        <a href="{{ path('GoHome_devBlog') }}" class="btn btn-innerMenu">Dev Blog</a>
        <a href="{{ path('gh_concept') }}" class="btn btn-innerMenu">Concept</a>
        <a href="{{ path('GoHome_About') }}" class="btn btn-innerMenu">About</a>
        <a href="{{ path('GoHome_Media') }}" class="btn btn-innerMenu">Gallery</a>
    </div>
{% endblock %}