{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
    Concept
{% endblock %}

{% block header %}
    Concept
{% endblock %}

{% block smallHeader %}
    <div style="padding-top: 2%">
        The base concept of GoHome
    </div>
{% endblock %}

{% block content %}
    <div class="text-box altext text-center" style="left: 5%">
        <div>
            GoHome is great!
        </div>
    </div>
{% endblock %}