{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
GoHome - Media
{% endblock %}

{% block content %}

        <a style="margin-top: 0.8vh" class="btn btn-alone" href="{{ path('Information') }}">Click here!</a>

        <div class="row">
            <h1 class="text-center alheader">
                    Media
            </h1>
        </div>

        {% set i = media|length - 1 %}

        {% for m in media %}
            <a
                href="{{ asset( 'uploads/media/' ~ media[i].file ) }}"
                target="_blank" >
                <img hspace="20px" vspace="20px"
                class="img-rounded" width="300" height="300" src="{{ asset( 'uploads/media/' ~ media[i].file ) }}" alt="{{ media[i].name }}">
            </a>
            {% set i = i - 1 %}
        {% endfor %}

{% endblock %}

{% block javascript %}

    <script>



    </script>

{% endblock %}