

/*#050c03 #3e0709 #9ba043 #7aa4a7 #0d1736*/

.btn {
    padding: 3px 24px;
    border: 0 none;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: 'Sunshiney';
}

.altext{
    font-family: 'Indie Flower';
    font-size: 2.2em;
    color: #141414;
}

.infotext{
    font-family: 'Indie Flower';
    font-size: 2em;
    padding-top: 3em;
    padding-left: 0.5em;
    color: #b14500;
}

.allink{
    font-family: 'Indie Flower';
    font-size: 1.2vmax;
    color: #1e2f48;
}

.allink:hover{
    font-family: 'Indie Flower';
    color: #2e476d;
}

.bloglink{
    font-family: 'Indie Flower';
    font-size: 1.2vmax;
    color: #b7b7b7;
}

.bloglink:hover{
    font-family: 'Indie Flower';
    color: #cacaca;
}

.albig{
    font-family: 'Indie Flower';
    font-size: 1.5vmax;
}

.btn-gohome {
    background: rgba(0, 0, 0, 0.95);
    color: #7e7e7e;
    border-radius: 13%;
}

.btn-gohome {
    background: rgba(9, 9, 9, 0.95);
    color: #959595;
}

.btn-gohome:hover {
    background: #000000;
    color: #c5c5c5;
    transition: 0.2s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-red {
    background: #450002;
    color: #7e7e7e;
    border-radius: 13%;
}

.btn-blue {
    background: #002845;
    color: #7e7a3f;
    border-radius: 13%;
}

.btn-green {
    background: #002a0f;
    color: #7e7e7e;
    border-radius: 13%;
}

.btn-red:hover {
    background: #1d0002;
    color: #c5c5c5;
    transition: 0.2s;
}

.btn-blue:hover {
    background: #001022;
    color: #c5c5c5;
    transition: 0.2s;
}

.btn-green:hover {
    background: #001e0d;
    color: #c5c5c5;
    transition: 0.2s;
}

.btn-innerMenu {
    background-color: #090d1a;
    border-radius: 5px;
    border: 2px solid #040404;
    box-shadow: #000000 0px 0px 2vmax;
    color: #779a9b;
    font-size: 4em;
    padding-left: 1.6vmax;
    padding-right: 1.6vmax;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    text-shadow: #000000 5px 5px 10px;
}
.btn-innerMenu:hover {
    background-color: #050b1c;
    border-radius: 5px;
    border: 2px solid #000000;
    box-shadow: #000000 0px 0px 2vmax;
    color: #760c11;
    font-size: 4em;
    padding-left: 1.6vmax;
    padding-right: 1.6vmax;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    text-shadow: #000000 5px 5px 10px;
    transition: all 0.15s ease;
}

.btn-GoHome:active {
    position:relative;
    top:1px;
}

#Toolbar {
    position: fixed;
    width: 100%;
    height: 5.5em;
    box-shadow: 0px 4px 5px 0px #000000;
    /*background-image: url("/../images/GHStars_preview.jpeg");*/
    background: linear-gradient(rgba(0, 10, 38, 1), rgba(3, 16, 35, 1));
    text-align: center;
    z-index: 10000;
}

#sitebar {
    position: fixed;
    width: 20em;
    height: 100%;
    top: 0;
    float: left;
    -webkit-box-shadow: 10px 0 5px 0px #000000;
    box-shadow: 10px 0 5px 0px #000000;
    background: linear-gradient(rgb(3, 16, 38), rgb(0, 0, 0));
    z-index: 9999;
}

.toolbar-links {
    font-family: 'Indie Flower';
    font-size: 300%;
    color: #7aa4a7;
}

.btn-alone {
    position: absolute;
    background-color: #0a132d;
    border-radius: 5px;
    border: 2px solid #050c03;
    box-shadow: #000000 0 0 0.6vmax;
    color: #7aa4a7;
    top: 78%;
    left: 5%;
    font-size: 200%;
    padding-left: 7%;
    padding-right: 7%;
    text-decoration: none;
    text-shadow: #000000 5px 5px 10px;
    transition: all 0.1s ease;
}

.backgroundImage {
    background: url("/../images/GoHomeTeaser.jpeg");
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10000;
}

.defaultBackground {
    background: rgba(29, 44, 34, 0.67);
}

.col-center {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.alheader{
    font-family: 'Lora';
    font-size: 1000%;
    font-weight:600;
    text-shadow: 0px 0px 0.2vmax rgb(0, 0, 0);
    color: rgb(27, 38, 54);
    padding-left: 2.5em;
    padding-top: 1em;
}

.alSmallHeader{
    font-family: 'Indie Flower';
    font-size: 300%;
    font-weight:600;
    text-shadow: 0px 0px 0.2vmax rgb(0, 0, 0);
    color: rgb(27, 38, 54);
    padding-left: 33%;
    margin-top: -2.5%;
}

.alheader-Right{
    font-family: 'Lora';
    font-size: 8vmax;
    font-weight:600;
    text-shadow: 0px 0px 0.2vmax rgb(0, 0, 0);
    color: rgb(27, 38, 54);
    text-align: right;
    padding-left: 2.5em;
    padding-top: 1em;
    float: right;
}

#content{
    padding-left: 21%;
}

.text-box{
    position: relative;
    width: 70%;
    height: inherit;
    padding: 0.5%;
    margin: 0.5%;
    margin-left: 5%;
    float: left;
    overflow: auto;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(44, 44, 44);
    border-radius: 8px;
    box-shadow: #000000 0 0 0.6vmax;
    background: linear-gradient(rgba(99, 99, 99, 0.9), rgba(62, 62, 62, 0.8));
}

.image-box{
    position: relative;
    width: 80%;
    height: 50%;
    padding: 0.5%;
    margin: 0.5%;
    overflow: auto;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(44, 44, 44);
    border-radius: 8px;
    box-shadow: #000000 0 0 0.6vmax;
    background: linear-gradient(rgba(99, 99, 99, 0.9), rgba(62, 62, 62, 0.8));
}


/*Medium devices*/
@media only screen and (max-width: 1030px){
    .alheader {
        font-size: 700%;
        padding-left: 2em;
        padding-top: 1em;
    }

    .altext{
        font-family: 'Indie Flower';
        font-size: 1.5em;
        color: #141414;
    }

    .toolbar-links {
        font-family: 'Indie Flower';
        font-size: 200%;
        color: #7aa4a7;
    }

    .infotext{
        font-family: 'Indie Flower';
        font-size: 1.2em;
        padding-top: 4.5em;
        padding-left: 0.5em;
        color: #b14500;
    }

    .alSmallHeader{
        font-family: 'Indie Flower';
        font-size: 200%;
        font-weight:600;
        text-shadow: 0px 0px 0.2vmax rgb(0, 0, 0);
        color: rgb(27, 38, 54);
        padding-left: 13em;
        padding-right: 2em;
        margin-top: -2.5%;
    }

    .text-box{
        position: relative;
        width: 80%;
        height: inherit;
        padding: 0.5%;
        margin: 0.5%;
        margin-left: 5%;
        float: left;
        overflow: auto;
        border-style: solid;
        border-width: 4px;
        border-color: rgb(44, 44, 44);
        border-radius: 8px;
        box-shadow: #000000 0 0 0.6vmax;
        background: linear-gradient(rgba(99, 99, 99, 0.9), rgba(62, 62, 62, 0.8));
    }

    #sitebar {
        position: fixed;
        width: 10em;
        height: 100%;
        top: 0;
        float: left;
        -webkit-box-shadow: 10px 0 5px 0px #000000;
        box-shadow: 10px 0 5px 0px #000000;
        background: linear-gradient(rgb(3, 16, 38), rgb(0, 0, 0));
        z-index: 9999;
    }

    .btn-innerMenu {
        background-color: #090d1a;
        border-radius: 5px;
        border: 2px solid #040404;
        box-shadow: #000000 0px 0px 2vmax;
        color: #779a9b;
        font-size: 3em;
        padding-left: 1.6vmax;
        padding-right: 1.6vmax;
        padding-top: 1vmax;
        padding-bottom: 1vmax;
        text-shadow: #000000 5px 5px 10px;
    }
    .btn-innerMenu:hover {
        background-color: #050b1c;
        border-radius: 5px;
        border: 2px solid #000000;
        box-shadow: #000000 0px 0px 2vmax;
        color: #760c11;
        font-size: 3em;
        padding-left: 1.6vmax;
        padding-right: 1.6vmax;
        padding-top: 1vmax;
        padding-bottom: 1vmax;
        text-shadow: #000000 5px 5px 10px;
        transition: all 0.15s ease;
    }

    .backgroundImage {
        background: url("/../images/BackgroundSmall.jpg");
        background-size: 50%;
    }

}

/*Small devices*/
@media only screen and (max-width: 650px){
    .alheader {
        font-size: 500%;
        padding-left: 0.6em;
        padding-top: 1em;
    }

    .toolbar-links {
        font-family: 'Indie Flower';
        font-size: 200%;
        color: #7aa4a7;
    }

    .altext{
        font-family: 'Indie Flower';
        font-size: 1.5em;
        color: #141414;
    }

    #sitebar {
        position: fixed;
        width: 0%;
        height: 0%;
        top: 0%;
        left: 0;
        padding: 0px;
        background: linear-gradient(#0a1839, #000a26);
        text-align: center;
        z-index: 9999;
    }

    .alSmallHeader{
        font-family: 'Indie Flower';
        font-size: 150%;
        font-weight:600;
        text-shadow: 0px 0px 0.2vmax rgb(0, 0, 0);
        color: rgb(27, 38, 54);
        padding-left: 33%;
        margin-top: -2.5%;
    }

    .text-box{
        position: relative;
        width: 80%;
        float: left;
        left: 0%;
        height: inherit;
        overflow: auto;
        border-style: solid;
        border-width: 4px;
        border-color: rgb(44, 44, 44);
        border-radius: 8px;
        box-shadow: #000000 0 0 0.6vmax;
        background: linear-gradient(rgba(99, 99, 99, 0.9), rgba(62, 62, 62, 0.8));
    }

    .infotext{
        font-family: 'Indie Flower';
        font-size: 0%;
        color: #141414;
    }

    .backgroundImage {
        background: url("/../images/BackgroundSmall.jpg");
        background-size: 50%;
    }
}

/*Tiny devices*/
@media only screen and (max-width: 430px){
    .alheader {
        font-size: 400%;
        padding-left: 0.5em;
        padding-top: 1.5em;
    }

    .toolbar-links {
        font-family: 'Indie Flower';
        font-size: 135%;
        color: #7aa4a7;
        padding: 3%;
    }

    .altext{
        font-family: 'Indie Flower';
        font-size: 1.5em;
        color: #141414;
    }

    .alSmallHeader{
        font-family: 'Indie Flower';
        font-size: 100%;
        font-weight:600;
        text-shadow: 0px 0px 0.2vmax rgb(0, 0, 0);
        color: rgb(27, 38, 54);
        padding-left: 15%;
        margin-top: -2.5%;
    }

    #sitebar {
        position: fixed;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        padding: 0;
        background: linear-gradient(#0a1839, #000a26);
        text-align: center;
        z-index: 9999;
    }

    #content{
        padding-left: 5%;
    }

    .infotext{
        font-family: 'Indie Flower';
        font-size: 0%;
        color: #141414;
    }

    .text-box{
        position: relative;
        width: inherit;
        height: inherit;
        float: left;
        overflow: auto;
        margin-right: 2em;
        border-style: solid;
        border-width: 4px;
        border-color: rgb(44, 44, 44);
        border-radius: 8px;
        box-shadow: #000000 0 0 0.6vmax;
        background: linear-gradient(rgba(99, 99, 99, 0.9), rgba(62, 62, 62, 0.8));
    }

    .btn-innerMenu {
        background-color: #090d1a;
        border-radius: 5px;
        border: 2px solid #040404;
        box-shadow: #000000 0px 0px 2vmax;
        color: #779a9b;
        float: left;
        padding: 0.5em;
        font-size: 2.5em;
        text-shadow: #000000 5px 5px 10px;
    }
    .btn-innerMenu:hover {
        background-color: #050b1c;
        border-radius: 5px;
        border: 2px solid #000000;
        box-shadow: #000000 0px 0px 2vmax;
        color: #760c11;
        float: left;
        padding: 0.5em;
        font-size: 2.5em;
        text-shadow: #000000 5px 5px 10px;
        transition: all 0.15s ease;
    }

    .backgroundImage {
        background: url("/../images/BackgroundSmall.jpg");
        background-size: 50%;
    }

}