

/*#050c03 #3e0709 #9ba043 #7aa4a7 #0d1736*/

.btn {
    padding: 3px 24px;
    border: 0 none;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: 'Sunshiney';
}

.altext{
    font-family: 'Indie Flower';
    font-size: 2vmax;
    color: #2e2e2e;
}

.allink{
    font-family: 'Indie Flower';
    font-size: 1.2vmax;
    color: #1e2f48;
}

.allink:hover{
    font-family: 'Indie Flower';
    color: #2e476d;
}

.bloglink{
    font-family: 'Indie Flower';
    font-size: 1.2vmax;
    color: #b7b7b7;
}

.bloglink:hover{
    font-family: 'Indie Flower';
    color: #cacaca;
}

.albig{
    font-family: 'Indie Flower';
    font-size: 1.5vmax;
}

.btn-gohome {
    background: rgba(0, 0, 0, 0.95);
    color: #7e7e7e;
    border-radius: 13%;
}

.btn-gohome {
    background: rgba(9, 9, 9, 0.95);
    color: #959595;
}

.btn-gohome:hover {
    background: #000000;
    color: #c5c5c5;
    transition: 0.2s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-red {
    background: #450002;
    color: #7e7e7e;
    border-radius: 13%;
}

.btn-blue {
    background: #002845;
    color: #7e7a3f;
    border-radius: 13%;
}

.btn-green {
    background: #002a0f;
    color: #7e7e7e;
    border-radius: 13%;
}

.btn-red:hover {
    background: #1d0002;
    color: #c5c5c5;
    transition: 0.2s;
}

.btn-blue:hover {
    background: #001022;
    color: #c5c5c5;
    transition: 0.2s;
}

.btn-green:hover {
    background: #001e0d;
    color: #c5c5c5;
    transition: 0.2s;
}

.btn-innerMenu {
    background-color: #090d1a;
    border-radius: 5px;
    border: 2px solid #040404;
    box-shadow: #000000 0px 0px 2vmax;
    color: #779a9b;
    font-size: 2.1vmax;
    padding-left: 1.6vmax;
    padding-right: 1.6vmax;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    text-decoration: none;
    text-shadow: #000000 5px 5px 10px;
}
.btn-innerMenu:hover {
    background-color: #050b1c;
    border-radius: 5px;
    border: 2px solid #000000;
    box-shadow: #000000 0px 0px 2vmax;
    color: #760c11;
    font-size: 2.1vmax;
    padding-left: 1.6vmax;
    padding-right: 1.6vmax;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    text-decoration: none;
    text-shadow: #000000 5px 5px 10px;
    transition: all 0.2s ease;
}
.btn-GoHome:active {
    position:relative;
    top:1px;
}

#Toolbar {
    position: fixed;
    width: 100vw;
    height: 12vh;
    top: 0;
    left: 0;
    padding: 5px;
    background: linear-gradient(#0a1020, #0e1434);
    text-align: center;
    z-index: 9999;
}

.toolbar-links {
    font-family: 'Indie Flower';
    font-size: 5vh;
    color: #7aa4a7;
}

.btn-alone {
    background-color: #0a132d;
    border-radius: 5px;
    border: 2px solid #050c03;
    box-shadow: #000000 0 0 0.6vmax;
    color: #7aa4a7;
    font-size: 1vmax;
    padding: 0.8vmax;
    text-decoration: none;
    text-shadow: #000000 5px 5px 10px;
    transition: all 0.4s ease;
}

.backgroundImage {
    background: url("/../images/GoHomeTeaser.png") no-repeat center center fixed;
    background-size: 100vw 100vh;
    background-position: 0 12vh;
}

.defaultBackground {
    background: rgba(29, 44, 34, 0.67);
}

.col-center {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.alheader{
    font-family: 'Lora';
    font-size: 8vmax;
    font-weight:600;
    text-shadow: 0px 0px 0.2vmax rgb(0, 0, 0);
    color: rgb(27, 38, 54);
    text-align: left;
    padding: 3%;
    float: left;
}

.alheader-Right{
    font-family: 'Lora';
    font-size: 8vmax;
    font-weight:600;
    text-shadow: 0px 0px 0.2vmax rgb(0, 0, 0);
    color: rgb(27, 38, 54);
    text-align: right;
    padding: 3%;
    float: right;
}