{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
AloneDevs
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="alheader">
                AloneDevelopers
        </h1>
    <div class="container-fluid">
    </div>
{% endblock %}