{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
AloneDevs
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <h1 class="text-center row col-md-6 col-lg-12 col-sm-4">
            <u class="alheader">
                Alone Developers
            </u>
        </h1>
    </div>
    </div>
    <div class="albig text-center row">
        <div class="col-lg-12 col-md-10 col-sm-12 col-xs-12">
            Hi how are you?
            <p></p>
            Please take a look around here, take your time!
            <p class="text-danger">
            Please keep in mind that the site displays not so good on smaller devices. We will fix this soon!
            </p>
        </div>
    </div>
{% endblock %}