{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
Contact
{% endblock %}

{% block content %}

    <div class="row text-center">
        <h1 class="alheader">
                Contact
        </h1>
    </div>

        <div class="row text-center altext">
                Want to Contact us? Dont be shy!
                <p></p>
                Give us Feedback, ask Details about GoHome
                <br>
                or just write us what you have done today :)
        </div>

    <br>
    <div class="row text-center">
        <a class="btn btn-alone" target="_blank" href="https://www.youtube.com/channel/UCwFT6RfDcC21jE-QhYxCt5g">Find us on YouTube!</a>
        <a class="btn btn-alone" target="_blank" href="https://twitter.com/AloneDevelopers">Find us on Twitter!</a>
        <a class="btn btn-alone" href="mailto:AloneDevs@gmx.de">Send us an Email!</a>
    </div>
{% endblock %}