{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
Contact
{% endblock %}

{% block header %}
    Contact
{% endblock %}

{% block smallHeader %}
    how to contact us
{% endblock %}

{% block content %}


        <div class="text-center altext text-box" style="left: 5%">
                Want to Contact us? Dont be shy!
                <p></p>
                Give us Feedback, ask Details about GoHome
                <br>
                or just write us what you have done today :)

    <div class="text-center" style="padding-top: 2%">
        <a class="btn btn-innerMenu" target="_blank" href="https://www.youtube.com/channel/UCwFT6RfDcC21jE-QhYxCt5g" style="margin: 1%">Find us on YouTube!</a>
        <a class="btn btn-innerMenu" target="_blank" href="https://twitter.com/AloneDevelopers" style="margin: 1%">Find us on Twitter!</a>
        <a class="btn btn-innerMenu" href="mailto:AloneDevs@gmx.de" style="margin: 1%">Send us an Email!</a>
    </div>

        </div>
{% endblock %}