{% extends '@Alone/Base_layout.html.twig' %}

{% block title %}
Downloads
{% endblock %}

{% block header %}
    Download
{% endblock %}

{% block smallHeader %}
    Music, wallpapers etc. from GoHome
{% endblock %}

{% block content %}

        <div class="text-center">

        <div class="text-box" style="left: 5%">
            <ul class="altext">
                <li>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
